@import 'scss/reset';
@import 'scss/foundation-grid';
@import 'scss/icons';
@import 'scss/typography';
@import 'scss/colors';
@import 'scss/layout';

$header-size: 76px;
$grey: #495453;
$off-white: #eeeeee;
$mint-green: #A7E3C1;
$slab-padding: 4em 0;
$content-padding: 1em;
$nav-offset: 5em;

html {
  font-size: 100%;
}

.slab {
  width: 100%;
  padding: $slab-padding;
}

.slab {
  &.banner, &.footer {
    background-color: $mint-green;
  }

  &.info, &.about {
    background-color: $off-white;
  }
}

.about {
  clear: both;
}

.header-container {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: $mint-green;
  z-index: 1000;
  opacity: 0.95;
}

.content {
  color: $grey;
  padding: $content-padding;
  width: 80%;
  margin: 0 auto;
}

.banner, .menu, .about, .footer {
  text-align: center;
}

.header {
  padding: 0.5em 1em;
}

.nav {
  float: right;
  padding-top: 1em;

  a {
    padding-left: 1.5em;
    font-size: 1rem;
  }
}

.details p {
  margin-bottom: 1em;
}

.header h1 {
  display: inline;
}

.clear-header {
  display: block;
  height: $header-size;
  margin-top: -$header-size;
  visibility: hidden;
  transform: translateY(-$nav-offset);
}

.map {
  height: 400px;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.3em;
}

h4 {
  font-size: 1.75rem;
}

.category-title {
  margin-bottom: 44px;
}

.dish {
  margin: 0 auto 44px auto;
}

.entrees .dish {
  width: 50%;
  height: 7.25em;
}

.entrees .dish:nth-child(even) {
  float: left;
  padding-right: 2em;
}

.entrees .dish:nth-child(odd) {
  float: right;
  padding-left: 2em;
}

.sides {
  float: left;
  width: 50%;
  padding-right: 2em;
}

.sauces {
  float: right;
  width: 50%;
  padding-left: 2em;
}

.drinks {
  float: right;
  width: 50%;
  padding-left: 2em;
}

.drinks, .sides, .sauces {
  font-weight: normal;
}


.title {
  float: left;
  text-align: left;
  color: #A37046;
  margin-bottom: 17px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.description {
  text-align: left;
  clear: left;
  padding-right: 4em;
}

.price {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #A37046;
  float: right;
  letter-spacing: 1px;
}
