@import 'scss/reset';
@import 'scss/foundation-grid';
@import 'scss/icons';
@import 'scss/typography';
@import 'scss/colors';
@import 'scss/layout';

$header-size: 76px;
$grey: #495453;
$off-white: #eeeeee;
$mint-green: #A7E3C1;
$slab-padding: 4em 0;
$content-padding: 1em;
$nav-offset: 5em;

html {
  font-size: 100%;
}

.slab {
  width: 100%;
  padding: $slab-padding;
}

.slab {
  &.banner, &.footer {
    background-color: $mint-green;
  }

  &.info, &.about {
    background-color: $off-white;
  }
}

.header-container {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: $mint-green;
  z-index: 1000;
  opacity: 0.95;
}

.content {
  color: $grey;
  padding: $content-padding;
  width: 80%;
  margin: 0 auto;
}

.banner, .menu, .about, .footer {
  text-align: center;
}

.header {
  padding: 0.5em 1em;
}

.nav {
  float: right;
  padding-top: 1em;

  a {
    padding-left: 1.5em;
    font-size: 1rem;
  }
}

.details p {
  margin-bottom: 1em;
}

.header h1 {
  display: inline;
}

.clear-header {
  display: block;
  height: $header-size;
  margin-top: -$header-size;
  visibility: hidden;
  transform: translateY(-$nav-offset);
}
