// base colors
$off-white: #eeeeee;
$white: #f8f8f8;
$grey: #495453;
$plumb: #635f7d;
$castle-greyskull: lighten(#929389, 5%);


//restaurant colors come from http://www.dalyspaint.com/aboutc2paint.html
//can search for names. brine is color 235, raku is color 049

// chicken specific colors
$chicken-accent: #a5beb3;
$salty-brine: #a5beb3;
$original-chicken: #5f797d;

// coffee specific colors
$coffee-accent: #503a33;
$raku: #503A33;
$original-coffee: #9d7d6e;

//unused colors
$mint-green: darken(#9BB9B0, 10%);

//styles
button {
  border-radius: 3px;

  &:hover {
    background-color: darken($off-white, 10%);
  }
}

.chicken {
  background-color: $chicken-accent;
}

.coffee {
  background-color: $coffee-accent;
}

.info, .about {
  background-color: $off-white;
}

.footer {
  background-color: $castle-greyskull;
}

.warning:hover {
  background-color: darken(#cd4540, 10%);
  color: $off-white;
}

.confirm:hover {
  background-color: lighten(#79BD9A, 10%);
}

.content {
  color: $grey;
}

header.content {
  color: $white;
}

.banner.content {
  color: $white;
}

.chicken .button-link {
  background-color: $chicken-accent;
  &:hover {
    background-color: darken($chicken-accent, 5%);
  }
}

.coffee .button-link {
  background-color: $coffee-accent;
&:hover {
  background-color: darken($coffee-accent, 5%);
}
}

.banner .button-link {
  background-color: $plumb;

  &:hover {
    background-color: darken($plumb, 5%);
  }
}

.social {
  color: $grey;
  font-size: 1.5em;
  margin: 0.25em;

  &:hover {
    color: $white;
  }
}
