// variables
$slab-padding: 64px 0;
$content-padding: 16px;
$nav-offset: 80px;

//general page
.slab {
  padding: $slab-padding;
}

.content {
  padding: $content-padding;
  width: 80%;
  margin: 0 auto;
}

.content.form {
  padding: 0;
}

//header
header.content {
  padding: 0.5em 1em;
}

header h1 {
  display: inline;
}

.clear-header {
  display: block;
  height: 76px;
  margin-top: -76px;
  visibility: hidden;
  transform: translateY(-$nav-offset);
}

.header-container {
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  opacity: 0.93;
}

//banner


//info
.map {
  height: 400px;
}

.details {
  padding-top: 1.5em;
}

.details p {
  margin-bottom: 1em;
}

//menu
.entrees .dish:nth-child(odd), .beverages .dish:nth-child(odd) {
  float: left;
  padding-right: 2em;
}

.entrees .dish:nth-child(even), .beverages .dish:nth-child(even) {
  float: right;
  padding-left: 2em;
}

.sides, .pastries {
  float: left;
  clear: both;
  width: 50%;
  padding-right: 2em;
}

.sauces, .extras, .drinks {
  float: right;
  width: 50%;
  padding-left: 2em;
}

.dish {
  margin: 0 auto 44px auto;
}

.entrees .dish, .beverages .dish {
  width: 50%;
  height: 7.25em;
}

.drinks {
  margin-top: 4px;
}

.title {
  float: left;
  text-align: left;
  margin-bottom: 17px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.description {
  text-align: left;
  clear: left;
  padding-right: 4em;
}

//about
.about {
  clear: both;
}

//footer
.footer .copy {
  margin-top: 1em;
}

//forms
form {
  margin-bottom: 3em;
}

button {
  float: right;
  margin: 0 .5em 0 .5em;
}
