//default weight is 400 - only imported basic version. Not sure if
//later font weight declarations are neccessary, but changed them from 300
//bold and italic still seem to work without importing those specific
//character sets. reset html font-size explicitly, otherwise way to huge.
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
}

h1, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.3em;
}

h4 {
  font-size: 1.75rem;
}

.small_text {
  font-size: small;
}

.banner, .menu, .about, .footer {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.3em;
}

h4 {
  font-size: 1.25rem;
}

.entrees, .drinks, .sides, .sauces, .beverages, .pastries, .extras {
  font-weight: normal;
}

.description {
  font-weight: 400;
}

.price {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  float: right;
  letter-spacing: 1px;
}

.emphasis {
  font-weight: bold;
  font-style: italic;
}

input, textarea, select, option {
  font-family: inherit;
}
